:root {
  --color-primary: #0D3B3A;
  --color-accent: #BCE388;
  --color-bg: #F8FBF6;
  --color-text: #231F20;
}

/* This applies the colors to the page */
body {
  background-color: var(--color-bg);
  color: var(--color-text);
}

h1, h2, h3 {
  color: var(--color-primary);
}

button {
  background-color: var(--color-accent);
  color: var(--color-primary);
}
